doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Simple Calculator
    link(rel='stylesheet', href='/css/app.css')
  body
    h1 Simple Calculator
    div
      input#num1(type='text')
      button#add +
      button#minus -
      button#divide /
      button#multiply *
      button#expon Exponent
      input#num2(type='text')
      span =
      span#answer
    div
      input#num3(type='text')
      button#fact !
      button#root SquareRoot
      span =
      span#answer2


    script(src='/js/vendor/jquery-2.1.0.js')
    script(src='/js/source/main.js')
